@font-face {
	font-family: 'BAUHS93';
	src: url('../public/BAUHS93.eot');
	src: local('BAUHS93'), url('../public/BAUHS93.woff') format('woff'), url('../public/BAUHS93.ttf') format('truetype');
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EEDFCC;
  overflow: hidden;
}

body{
  display: flex;
  height: 96vh;
  align-items: center;
  justify-content: center;
  background-color: #EEDFCC;
}

:root {
  --red:#EE442B;
  --yellow: #F8B61A;
  --blue: #0168B5;
  --black: #000;
  --bgd: #EEDFCC;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  /* Remove ul's default dot */
  list-style: none;
}

.logo{
  display: flex;
  height: 100px;
  margin: 0;
  padding: 0;

}

.logo > div{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-right: 18px;
}

.logo > div:last-child{
  margin-right: 0;
}

.red{
  background-color: var(--red);
}
.blue{
  background-color: var(--blue);
}
.yellow{
  background-color: var(--yellow);
}
.black{
  background-color: var(--black);
}

.r1{
  transform: rotateZ(90deg);
}
.r2{
  transform: rotateZ(180deg);
}
.r3{
  transform: rotateZ(270deg);
}

.quarter{
  width: 50px;
  height: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}

.half{
  width: 50px;
  height: 100px;
  grid-row: span 2;
  border-radius: 0 50px 50px 0;
}

.smallCir{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
}

.bigCir{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform-origin: top left;
  transform: scale(2);
}

.longBox{
  width: 50px;
  height: 50px;
  position: relative;
  transform-origin: bottom;
  transform: scaleY(1.5);
}

.bauh{
  font-family: 'BAUHS93';
  display: block;
  font-size: 2em;
  margin-bottom: 0.8em;
}

button{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  cursor: pointer;
}
.unBtn{
  width: 100%;
  position: relative;
  background-color: var(--blue);
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 3.8em;
  border-top-right-radius: 4em;
  z-index: 2;
  color: var(--black);
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 0.55em;
  transition: all ease 80ms;
}
.unBtn:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  border-bottom-right-radius: 4em;
  z-index: -1;
  transition: all ease 80ms;
}
.unBtn2{
  background-color: var(--red);
  color: white;
}
.unBtn2::after{
  background-color: var(--black);
}

.unBtn:hover{
  color: white;
}

.unBtn:hover:after{
  background-color: var(--blue);
}
.unBtn2:hover:after{
  background-color: var(--red);
}

.unBtn:active, .unBtn2:active, .unBtn:active:after, .unBtn2:active:after{
  transform: scale(1);
  filter: saturate(90%);
}

input, textarea{
  width: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-weight: 400;
  padding: 1em;
  padding-left: 1.5em;
  transition: all ease 200ms;
}
input::placeholder, textarea::placeholder{
  color: rgba(104, 64, 21, 0.304);
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active,
textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px var(--bgd) inset !important;
  -webkit-text-fill-color: rgb(61, 61, 61) !important;
}

.inputCodeBox{
  text-align: center;
  padding: 0.8em 1.2em;
  letter-spacing: 0.5em;
}
.inputCodeBox::placeholder{
  color: rgba(104, 64, 21, 0.304);
  opacity: 0;
  transition: all ease 200ms;
  letter-spacing: 0;
}
.inputCodeBox:hover::placeholder{
  color: rgba(104, 64, 21, 0.304);
  opacity: 1;
}
.rightArrow{
  position: absolute;
  width: 3em;
  height: 3em;
  right: max(-10em, -15vw);
  border: none;
  background-color: transparent;
  transition: all ease 200ms;
}
.rightArrow:hover{
  cursor: pointer;
}
.rightArrow:after, .rightArrow:before{
  content: "";
  position: absolute;
  width: 3em;
  height: 3em;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  left: -2em;
  top: 0;
  transform: rotateZ(45deg);
}
.rightArrow:after{
  left: 1em;
}
.rightArrowQuiz{
  top: calc(-1.5em - 1px);
  opacity: 0;
  visibility: hidden;
}
.somethingSelected{
  opacity: 1;
  visibility: visible;
}
.line{
  position: absolute;
  width: 50vw;
  top: calc(2em-1px);
  right: -50vw;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
}

.question{
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-top: 3em;
  text-overflow: clip;
}
.optionBox{
  position: absolute;
  width: 360px;
  left: calc(50% - 180px);
  bottom: 10em;
}
.qOption{
  width: 100%;
  font-size: 1.2em;
  height: 4.2em;
  background: none;
  border: none;
  position: relative;
  font-weight: 500;
  transition: all ease 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qOption:hover{
  background-color: #D7C6B1;
}
div:nth-last-child(2n+1) > .qOption:after{
  content: "";
  position: absolute;
  border-top: 2px solid black;
  width: 100vw;
  top: 0;
  right: 0;
}
div:nth-last-child(2n) > .qOption:after{
  content: "";
  position: absolute;
  border-top: 2px solid black;
  top: 0;
  width: 100vw;
  left: 0;
}
.selectedOpt{
  background-color: var(--blue);
  color: white;
}
.selectedOpt:hover{
  background-color: var(--blue);
}
.stateBar{
  width: 70%;
  height: 4px;
  margin: auto;
  background-color:rgba(104, 64, 21, 0.304);
  position: relative;
}
.solvedBar{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue);
  transition: all ease 200ms;
}


/* personal page  & makeQuiz*/

.outer {
  overflow-y: auto;
  height: 100vh;
}
.outer::-webkit-scrollbar {
  display: none;
}
.inner {
  height: 100vh;
}

.blackBtn{
  background-color: var(--black);
  box-shadow: none;
  border-radius: 0;
  border: none;
  height: 4em;
  z-index: 2;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  width: 90%;
  margin-top: 2.8em;
  transition: all ease 100ms;
}
.blackBtn:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.blackBtn:active{
  background-color: white;
  color: black;
}


.themeYellow .quizIdx{
  color: var(--yellow);
}
.themeYellow .selectedOpt{
  background-color: var(--yellow);
}
.themeYellow .selectedOpt input{
  color: var(--black);
}
.themeYellow .selectedOpt input::placeholder{
  color: rgba(0, 0, 0, 0.5);
}
.themeRed .quizIdx{
  color: var(--red);
}
.themeRed .selectedOpt{
  background-color: var(--red);
}
.themeRed .selectedOpt input{
  color: var(--white);
}
.themeRed .selectedOpt input::placeholder{
  color: rgba(255,255,255,0.5);
}
.themeBlue .quizIdx{
  color: var(--blue);
}
.themeBlue .selectedOpt{
  background-color: var(--blue);
}
.themeBlue .selectedOpt input{
  color: var(--white);
}
.themeBlue .selectedOpt input::placeholder{
  color: rgba(255,255,255,0.5);
}
.themeBlack .quizIdx{
  color: var(--black);
}
.themeBlack .selectedOpt{
  background-color: var(--black);
}
.themeBlack .selectedOpt input{
  color: var(--white);
}
.themeBlack .selectedOpt input::placeholder{
  color: rgba(255,255,255,0.5);
}

.themeRed .selectedOpt .plus,
.themeBlue .selectedOpt .plus,
.themeBlack .selectedOpt .plus{
  filter: invert();
}


.optionInput{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  text-align: center;
  transition: all ease 200ms;
}
.optionInput::placeholder{
  color: rgba(0, 0, 0, 0.5);
}
.addQuestionBtn{
  position: absolute;
  bottom: 7vh;
  color: rgba(104, 64, 21, 0.704);
  width: 200px;
  font-size: 1em;
  left: calc(50% - 100px);
  background: none;
  border: none;
  padding: 1em;
  transition: all ease 200ms;
}
.addQuestionBtn:hover{
  background-color: rgba(104, 64, 21, 0.2);
  
}
.plus{
  position: relative;
  background: none;
  border: none;
  font-size: 16px;
  width: 2em;
  height: 2em;
}
.plus::before{
  content: "";
  position: absolute;
  top: calc(1em - 1px);
  left: 0;
  width: 2em;
  border-top: 2px solid var(--black);
}
.plus::after{
  content: "";
  position: absolute;
  top: 0;
  left: calc(1em - 1px);
  height: 2em;
  border-left: 2px solid var(--black);
}
.optionAdd{
  left: calc(50% - 1em);
  margin-bottom: 20px;
}
.optionDelete{
  transform: rotateZ(45deg);
  position: relative;
  right: 1em;
  z-index: 2;
}
.quizIdx{
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}
.quizQuestion{
  font-size: 2em;
  width: 400px;
  padding: 0;
  margin-top: 1em;
  border: none;
  text-align: center;
  height: 3.5em;
  font-weight: 500;
}
.invisible{
  opacity: 0;
  visibility: 0;
}